@import '../../variables.scss';

#title {
	margin-top: 5vh;
	text-align: center;
}

#description {
	text-align: center;
	width: 50%;
	margin: 3vh auto 0 auto;
}

#postButton {
	position: absolute;
	top: 15vh;
	right: 5vw;
}

#posts {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 7vh;
}

.postContainer {
	width: 50vw;
	background-color: $light;
	padding: 10px;
	text-align: center;
	margin-bottom: 10vh;
}

.seperator {
	width: 100%;
	background-color: $dark;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.postLink {
	font-weight: bold;
	cursor: pointer;
	margin-top: 5vh;
}

.postImage {
	width: 90%;
}
