@font-face {
	font-family: GravityBook;
	src: url("assets/fonts/Gravity-Book.otf");
}

@font-face {
	font-family: GravityLight;
	src: url("assets/fonts/Gravity-Light.otf");
}

* {
	margin: 0;
	padding: 0;
}

html {
scroll-behavior: smooth;
}

body {
	background-color: #2c2f33;
	color: #ffffff;
}

h1,
h2,
h3 {
	font-family: GravityBook;
	font-weight: 100;
}

h4,
h5,
p,
a,
div {
	font-family: GravityLight;
	font-weight: 100;
}

#headphones {
	position: fixed;
	top: 2vh;
	left: 2vw;
	font-size: 2em;
}

#not-muted {
	position: fixed;
	top: 2vh;
	right: 2vw;
	font-size: 2em;
}

#not-muted:hover {
	cursor: pointer;
}

#muted {
	position: fixed;
	top: 2vh;
	right: 2vw;
	font-size: 2em;
	cursor: pointer;
	display: none;
}

#arrow-down {
	font-size: 2em;
	margin-top: 20vh;
}

#arrow-down:hover {
	cursor: pointer;
}

#welcome-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#welcome {
	text-align: center;
	margin-top: 5vh;
}

#playlists-container {
	width: 100%;
	/* height: 100%; */
	padding-top: 10vh;
	padding-bottom: 10vh;
	background-color: #23272a;
	display: flex;
	justify-content: space-around;
	/* align-items: center; */
	flex-direction: row;
}

.playlist-and-tracks-container {
	/* display: flex; */
	/* justify-content: space-around; */
	/* flex-direction: row; */
}

.playlist-container {
	background-color: #2c2f33;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	font-size: 1em;
	margin-top: 2vh;
	margin-bottom: 2vh;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.playlist-container:hover {
	cursor: pointer;
}

.playlist-img {
	max-height: 6vh;
	border-radius: 2px;
}

.playlist {
	font-size: 1em;
}

.tracks {
	list-style: none;
	transition: opacity 1s ease;
	height: 0;
	overflow: hidden;
	border: 3px solid #2c2f33;
	border-radius: 3px;
	padding-left: 2vw;
}

.track {
	display: flex;
	justify-content: left;
	flex-direction: row;
	align-items: center;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.fa-play-circle:hover {
	cursor: pointer;
}

#current-song-img {
	max-height: 35vh;
	transition: opacity 1s ease;
}
