#title {
	text-align: center;
	margin-top: 5vh;
}

#form {
	width: 40%;
	height: 40vh;
	background-color: #2c2f33;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	display: flex;
	justify-content: space-evenly;
	align-items: left;
	flex-direction: column;
	border-radius: 5px;
	padding: 20px;
}

#link {
	color: white;
	text-decoration: none;
	text-align: center;
}

#inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 75%;
}

.input {
	border: none;
	border-radius: 5px;
	height: 10%;
	padding: 5px;
	font-size: 1em;
}

#linkContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

#underline {
	background-color: white;
	height: 2px;
	width: 0px;
	transition: width 0.5s ease;
}

.underlineActive {
	width: 100% !important;
}

#loggedInContainer {
	width: 40%;
	height: 30vh;
	background-color: #2c2f33;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

#loggedInTitle {
}

#logOut {
	color: white;
	// text-align: center;
	cursor: pointer;
}
